<h1>Hi, I'm Joe</h1>
<h2>I like people and friendships</h2>

<p>I write: <a href="http://joemsak.tumblr.com">at tumblr</a><br>
I code: <a href="http://github.com/joemsak">at github</a><br>
I help: <a href="http://stackoverflow.com/users/727977/hubble">at stack_overflow</a></p>

<p>I tweet: <a href="http://twitter.com/bughatter">as @bughatter</a><br>
I live: <a href="http://facebook.com/joemsak">on facebook</a></p>

<p>I chat: as gChat <strong>joe AT joesak DOT com</strong><br>
or AIM <strong>joemsak</strong></p>

<p>I care: <a href="http://open-books.org">about literacy</a><br>
I ride: <a href="http://thechainlink.org">in Chicago</a><br>
I work: <a href="http://neotericdesign.com">on web applications</a></p>

<p>You can get the <a href="http://github.com/joemsak/joesak">open source code</a> of this web site</p>
