<a style="float:right;"
   href="http://joesak.com">
   I can't read this get me out of here
</a>

<comment># Hi, I'm Joe</comment>
<comment># I like people and friendships</comment>

<pre>
  describe <str>"my life right now"</str> <blk>do</blk> |<var>i</var>|
    i.work_at         <str>"<a href="http://neotericdesign.com">neoteric design</a>"</str>
    i.ride_bikes_with <str>"<a href="http://thechainlink.org">the chainlink</a>"</str>
    i.care_about      <str>"<a href="http://open-books.org">literacy</a>"</str>
  <blk>end</blk>
</pre>


<pre>
  describe <str>"my body of work"</str> <blk>do</blk> |<var>i</var>|
    i.write_at  <str>"<a href="http://joemsak.tumblr.com">tumblr</a>"</str>
    i.code_at   <str>"<a href="http://github.com/joemsak">github</a>"</str>
    i.help_at   <str>"<a href="http://stackoverflow.com/users/727977/hubble">stack overflow</a>"</str>
  <blk>end</blk>
</pre>

<pre>
  describe <str>"contacting me"</str> <blk>do</blk> |<var>i</var>|
    i.tweet_at    <str>"<a href="http://twitter.com/abughat">@aBugHat</a>"</str>
    i.facebook_at <str>"<a href="http://facebook.com/joemsak">joemsak</a>"</str>
    i.gchat_at    <str>"joe[at]joesak[.]com"</str>
    i.aim_at      <str>"joemsak"</str>
  <blk>end</blk>
</pre>


<pre>
  describe <str>"the source of this website"</str> <blk>do</blk> |<var>src</var>|
    src.is_at <str>"<a href="http://guithub.com/joemsak/joesak">github</a>"</str>
  <blk>end</blk>
</pre>
