<a style="float:right;"
   href="http://nerdy.joesak.com">
     borrring, show me the nerd version
</a>

<h1>Hi, I'm Joe</h1>
<h2>I make Web Sites that work on the Internet</h2>

I work: <a href="http://neotericdesign.com">on web applications</a></p>
I have code: <a href="http://github.com/joemsak">at github</a><br>

<p>I chat: as gChat <strong>joe AT joesak DOT com</strong><br>
or AIM <strong>joemsak</strong></p>

<p>I care: <a href="http://open-books.org">about literacy</a><br>
I ride: <a href="http://thechainlink.org">bikes in Chicago</a><br>

<p>I tweet: <a href="http://twitter.com/abughat">as @aBugHat</a></p>
<a href="https://twitter.com/abughat" class="twitter-follow-button" data-show-count="false">Follow @aBugHat</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<p>You can get the <a href="http://github.com/joemsak/joesak">open source code</a> of this web site</p>
