body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  font-size: 26px;
  color: #444;
}

h1, h2 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
  font-size: 86px;
  margin: 0;
  color: #333;
}

h2 {
  font-size: 46px;
}

a, a:visited {
  color: #3385FF;
  text-decoration: none;
}

a:hover {
  background: #3385FF;
  color: #fff;
}
