body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  font-size: 26px;
  color: #444;
}

h1, h2, h3 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
  font-size: 86px;
  line-height: 1.2;
  margin: 0 0 15px;
  color: #333;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 36px;
  margin-bottom: 0;
}

h3 span {
  display: block;
  font-size: 13px;
}

a, a:visited {
  color: #3385FF;
  text-decoration: none;
}

a:hover {
  background: #3385FF;
  color: #fff;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 20px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  body {
    width: 90%;
    font-size: 15px;
  }

  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
}

.tiny {
  font-size: 0.5em;
}
