body {
  background: #000;
  color: #eee;
  font-size: 14px;
  font-weight:bold;
  font-family: monaco, sans-serif;
}

comment {
  display: block;
  font-style: italic;
  color: #999;
}

blk {
  color:#4349f7;
}

str {
   color:#00ff56;
   font-weight:normal;
}

var {
  font-style:normal;
  color:#37ddff;
}

a {
  text-decoration:none;
  color:#7659ff;
  &:hover {
    text-decoration:underline;
  }
}

strong {
  font-weight:normal;
  color: #00ff68;
}

pre {
  line-height:1.4;
}
