---
title: clean code and test-driven development | currently visiting Montr&eacute;al
meta_description: This is the blog of Joe Sak who is a programming craftsman, developing primarily in ruby. He writes and makes music in his spare time, and grew up near Flint, Michigan.
meta_keywords: ruby, javascript, clean code, tdd, testing, rspec, consultation, writing, music, bikes, development, Michigan, programmer, programming, scss, sass, css3, html5
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    <title>Joe Sak - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/compiled/main.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36797801-1', 'joesak.com');
      ga('send', 'pageview');
    </script>
  </head>

  <body id="{{ page.scope }}">
    <section id="main-section">
      <header id="page-header">
        <img src="https://en.gravatar.com/userimage/8768527/249b1363c0de2c583f0df7aa03e587bd.jpg?size=200" class="portrait"/>
        <p>Joe Sak (<a href="http://github.com/joemsak">GitHub</a>, <a href="http://stackoverflow.com/users/727977/hubble">Stack Overflow</a>) is a programming craftsman, customer and user experience advocate, a bike culture enthusiast, an amateur writer, and a world-traveling independent contractor. He is currently visiting Montr&eacute;al.</p>
      </header>

      <section id="items">
        <header id="items-header">
          <nav>
            <a href="/welcome">Welcome</a>
            <a href="/how-to-tdd">How to TDD</a>
            <a href="/testing-workflow">Testing Workflow</a>
            <a href="/designing-oo-code">OO Code Design</a>
            <a href="/code-examples">Code Examples</a>
            <a href="/contact">Contact</a>
          </nav>
        </header>
        <section id="content">
          {{ content }}
        </section>
      </section>
    </section>
    <footer id="main-footer">
      &copy; <script>document.write(new Date().getFullYear());</script>
      Joe Sak |
      No recruiters, please |
      Joe is followed on Twitter by <a href="http://twitter.com/gewqk">@gewqk</a>
    </footer>
    <script src='/js/navigation.js'></script>
  </body>
</html>
